body{
    background-color: #ffd588;
    font-family: Roboto Condensed;
}
nav{
    background-color: blue;
    color: white;
    text-align: center;
}
nav a{
    color: orange;
}
.banner{width: 100%;}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro2, .intro22{
    background-color: #f9bc4c;
    margin: 10px;
    padding:8px;
    border-radius: 2em;
    font-size: 20px;
    flex: 1;
    justify-content: center;
}
.intro3, .quote11{
    color: rgb(0, 0, 255);
    font-size: 50px;
    flex: 1;
}
.clear{
    clear: both;
}
.hr1{
    border-top: 3px solid blue;
    background: blue;
}
.nimmo_catch{
    border-radius: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.top4{
    background-color: #f9bc4c;
    margin: 10px;
    padding:8px;
    border-radius: 2em;
    font-size: 17px;
    width: 50%;
    float: right;
}

.recap_title1{
    font-size: 80px;
    color: blue;
    max-width: 100%;
}
.honerable_mentions, .stats_title2{
    font-size: 40px;
    color: orange;
}


.hm3_img, .hm2_img, .hm1_img, .five_img, .four_img, .three_img, .two_img, .one_img{
    max-width:100%;
    border-radius: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stats_img1{
    width: 100%;
    margin-top: 20px;
}

.stats_title3{
    font-size: 40px;
    color: blue;
}

.row1, .row2{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.row1_1{
    flex:1;
}
.row1_2{flex:3;}

.column1, .column2, .column3{
    flex:1;
    margin: 2px;
    background-color: #f9bc4c;
    border-radius: 2em;
    padding: 10px;
    text-align: center;
    max-width: 100%;
}
table{
    font-size: 20px;
    width: 80%;
}

table, th, td{
    border: 1px solid blue;
}

.awards_title{
    font-size: 80px;
    text-align: center;
    color: orange;
}

.shoewalter, .edwin, .jeff, .pete, .nido, .stars{
    width: 49.5%
}

.text{
    font-size: 50px;
    color: blue;
}

.r1{
    display: flex;
}

.c1, .c22{
    flex:3;
}
.c2, .c11{
    flex:1;
}

.t023{
    font-size: 80px;
    text-align: center;
    color: blue;
}
.t023_img{
    max-width: 100%;
    border-radius: 2em;
}


.row100{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row200{
    align-items: center;
    justify-content: center;
}


.col100, .col400, .row200, .t023_text, .row1000{
    flex:2;
    background-color: #f9bc4c;
    margin: 10px;
    padding:8px;
    border-radius: 2em;
    font-size: 17px;
}
.col200, .col300{
    flex:1;
}

.row1000{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col1000{
    flex: 2;
}.col2000{
    flex:1;
}

@media only screen and (min-width:799px) {
    .intro22, .quote11, .row200{display: none;}
}

@media only screen and (max-width:800px) {
    .intro2, .quote1, .intro3, .row100, .col100, .col200, .col300, .col400, .row1000, .col1000, .col2000, .nav{display: none;}
}

#hamicon{width: 40px;}
.firstrow{display: flex;}

@media only screen and (min-width:800px) {
    #hamicon, #close{display: none;}
    #nav2{display: none;}
}

@media only screen and (max-width:799px) {
    a {display: block;}
}